:host {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ag-grid-angular {
  height: var(--grid-height);
  width: var(--grid-width);

  margin-top: var(--grid-ofset);
}

// Customizing Ag Grid theme using predefined variables
.ag-theme-alpine {
  // Fonts
  --ag-font-family: var(--font-family);
  --ag-font-size: var(--font-size);

  // Cell colors
  --ag-background-color: var(--white);
  --ag-odd-row-background-color: var(--white);

  // Borders
  --ag-border-color: black;
  --ag-cell-horizontal-border: solid var(--light-grey-new);

    // Cell & header padding
  --ag-cell-horizontal-padding: 10px;
}

::ng-deep {
  app-static-table {
    // Headers
    .grid-header {
      color: white;

      &.ograniczenia-przyjec,
      &.wydajnosc {
        border-right: var(--standard-border);
        border-color: var(--border-black);
      }

      &.triage,
      &.oczekiwanie-lozko {
        border-left: var(--standard-border);
        border-color: var(--border-black);
      }
    }

    .grid-header-outer {
      border-top: var(--standard-border);
      border-left: var(--standard-border);
      border-color: var(--border-black);
      font-size: var(--outer-header-font-size);
      background-color: var(--darkest-blue);

      &.typ-pacjenta,
      &.proc-pacjentow {
        border-bottom: var(--standard-border);
        border-color: var(--border-black);
      }
    }

    .grid-header-mid {
      font-size: var(--mid-header-font-size);
      background-color: var(--dark-blue);
      color: var(--light-grey-new);
    }

    .grid-header-inner {
      border-bottom: var(--standard-border);
      border-color: var(--border-black);
      font-size: var(--inner-header-font-size);
      color: var(--light-grey-new);
      background-color: var(--mid-blue);
    }

    // Cells
    .cell {
      text-align: center;

      &:not(.typ-pacjenta) {
        color: var(--light-grey-new);
      }

      &.typ-pacjenta {
        text-align: left;
      }

      &.triage,
      &.lekarz,
      &.obserwacja,
      &.wydajnosc {
        background-color: var(--light-blue);
      }

      &.part-of-table {
        &.oczekiwanie-lozko,
        &.triage {
          border-left: var(--standard-border);
          border-left-color: var(--border-blue);
        }
      }

      &.summary-row {
        &.typ-pacjenta,
        &.oczekiwanie-lozko,
        &.triage {
          border-left: var(--standard-border);
          border-left-color: var(--border-blue);
        }

        &.wydajnosc {
          border-right: var(--standard-border);
          border-right-color: var(--border-blue);
        }

        &.bottom,
        &.top,
        &.waskie-gardlo {
          color: black;
          font-weight: bold;
          font-size: var(--summary-row-font-size-static);
        }

        &.top {
          border-top: var(--standard-border);
          border-top-color: var(--border-blue);
        }

        &.bottom {
          border-bottom: var(--standard-border);
          border-bottom-color: var(--dark-blue);
        }

        &.min-wydajnosci {
          color: var(--flashy-yellow);
          background-color: var(--flashy-red);
          font-size: 30px;
          border-color: var(--light-grey-new);
        }
      }
    }
  }
}
