<div class="formbold-main-wrapper">
  <!-- Author: FormBold Team -->
  <!-- Learn More: https://formbold.com -->
  <div class="formbold-form-wrapper">
    <form
      action="xxx"
      method="POST"
    >
      <!-- Imie i Nazwisko -->
      <div class="flex flex-wrap formbold--mx-3">
        <!-- Imie -->
        <div class="w-full sm:w-half formbold-px-3">
          <div class="formbold-mb-5 w-full">
            <label
              for="imie"
              class="formbold-form-label"
            >
              Imię
            </label>
            <input
              type="text"
              name="imie"
              id="imie"
              placeholder="Jan"
              class="formbold-form-input"
            />
          </div>
        </div>

        <!-- Nazwisko -->
        <div class="w-full sm:w-half formbold-px-3">
          <div class="formbold-mb-5">
            <label
              for="nazwisko"
              class="formbold-form-label"
            >
              Nazwisko
            </label>
            <input
              type="text"
              name="nazwisko"
              id="nazwisko"
              placeholder="Kowalski"
              class="formbold-form-input"
            />
          </div>
        </div>
      </div>

      <!-- Numer telefonu -->
      <div class="formbold-mb-5">
        <label
          for="numer-telefonu"
          class="formbold-form-label"
        >
          Numer telefonu
        </label>
        <input
          type="text"
          name="numer-telefonu"
          id="numer-telefonu"
          placeholder="48+"
          class="formbold-form-input"
        />
      </div>

      <!-- PESEL -->
      <div class="formbold-mb-5">
        <label
          for="pesel"
          class="formbold-form-label"
        >
          PESEL
        </label>
        <input
          type="text"
          name="pesel"
          id="pesel"
          placeholder="PESEL pacjenta"
          class="formbold-form-input"
        />
      </div>

      <!-- Data urodzenia -->
      <div class="formbold-mb-5">
        <label
          for="data-urodzenia"
          class="formbold-form-label"
        >
          Data urodzenia
        </label>
        <input
          type="date"
          name="data-urodzenia"
          id="data-urodzenia"
          class="formbold-form-input"
        />
      </div>

      <!-- Data i godzina przybycia -->
      <div class="formbold-mb-5 formbold-pt-3">
        <label class="formbold-form-label formbold-form-label-2"> Data przybycia pacjenta </label>
        <div class="flex flex-wrap formbold--mx-3">
          <!-- Data przybycia -->
          <div class="w-full sm:w-half formbold-px-3">
            <div class="formbold-mb-5 w-full">
              <label
                for="data-przybycia"
                class="formbold-form-label"
              >
                Data przybycia
              </label>
              <input
                type="date"
                name="data-przybycia"
                id="data-przybycia"
                class="formbold-form-input"
              />
            </div>
          </div>

          <!-- Godzina -->
          <div class="w-full sm:w-half formbold-px-3">
            <div class="formbold-mb-5">
              <label
                for="godzina"
                class="formbold-form-label"
              >
                Godzina
              </label>
              <input
                type="time"
                name="godzina"
                id="godzina"
                class="formbold-form-input"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- Dane kontaktowe -->
      <div class="formbold-mb-5 formbold-pt-3">
        <label class="formbold-form-label formbold-form-label-2"> Dane kontakrowe </label>
        <div class="flex flex-wrap formbold--mx-3">
          <!-- Ulica -->
          <div class="w-full sm:w-half formbold-px-3">
            <div class="formbold-mb-5">
              <input
                type="text"
                name="ulica"
                id="ulica"
                placeholder="Ulica"
                class="formbold-form-input"
              />
            </div>
          </div>

          <!-- Miasto -->
          <div class="w-full sm:w-half formbold-px-3">
            <div class="formbold-mb-5">
              <input
                type="text"
                name="miasto"
                id="miasto"
                placeholder="Miasto"
                class="formbold-form-input"
              />
            </div>
          </div>

          <!-- Województwo -->
          <div class="w-full sm:w-half formbold-px-3">
            <div class="formbold-mb-5">
              <input
                type="text"
                name="wojewodztwo"
                id="wojewodztwo"
                placeholder="Województwo"
                class="formbold-form-input"
              />
            </div>
          </div>

          <!-- Kod pocztowy -->
          <div class="w-full sm:w-half formbold-px-3">
            <div class="formbold-mb-5">
              <input
                type="text"
                name="kod-pocztowy"
                id="kod-pocztowy"
                placeholder="Kod pocztowy"
                class="formbold-form-input"
              />
            </div>
          </div>
        </div>

        <!-- Numer telefonu -->
        <div class="formbold-mb-5">
          <label
            for="numer-telefonu"
            class="formbold-form-label"
          >
            Numer telefonu
          </label>
          <input
            type="text"
            name="numer-telefonu"
            id="numer-telefonu"
            placeholder="48+"
            class="formbold-form-input"
          />
        </div>

        <!-- Adres email -->
        <div class="formbold-mb-5">
          <label
            for="email"
            class="formbold-form-label"
          >
            Adres email
          </label>
          <input
            type="text"
            name="email"
            id="email"
            placeholder="jan.kowalski@gmail.com"
            class="formbold-form-input"
          />
        </div>
      </div>

      <div>
        <button class="formbold-btn">Zapisz</button>
      </div>
    </form>
  </div>
</div>
