@if (this.dataFetchingService.isLoading()) {
<ag-grid-angular
  class="ag-theme-custom"
  loading
  [loadingOverlayComponent]="this.dataFetchingService.gridLoadingOverlayComponent"
  [rowData]="rowData()"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [suppressScrollOnNewData]="true"
  [suppressRowTransform]="true"
  [pinnedBottomRowData]="[summaryRowTop(), summaryRowBottom()]"
  (cellValueChanged)="onCellValueChanged($event)"
>
</ag-grid-angular>
} @else {
  <ag-grid-angular
  class="ag-theme-custom"
  [loading]="!this.dataFetchingService.shouldRenderTables()"
  [loadingOverlayComponent]="this.dataFetchingService.noRowsOverlayComponent"
  [rowData]="rowData()"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [suppressScrollOnNewData]="true"
  [suppressRowTransform]="true"
  [pinnedBottomRowData]="[summaryRowTop(), summaryRowBottom()]"
  (cellValueChanged)="onCellValueChanged($event)"
>
</ag-grid-angular>
}