:host {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ag-grid-angular {
  height: var(--grid-height);
  width: var(--grid-width);

  margin-top: var(--grid-ofset);
}

::ng-deep {
  app-length-of-stay {
    // Granatowa granica pionowa
    .pielegniarki:not(.wydajnosc),
    .opoznienie-wydajnosc,
    .opoznienie-zmiennosc,
    .opoznienie-ogolem,
    .lekarz.obsluga,
    .lekarz.lq,
    .pielegniarka.obsluga,
    .pielegniarka.lq,
    .pielegniarka.ag-header-group-cell {
      border-left: var(--standard-border);
      border-left-color: var(--dark-blue);
    }

    .ag-cell {
      // Pierwsza kolumna + to co ma mieć grubszą czcionkę
      &.ag-column-first,
      &.liczba {
        color: black;
        font-weight: 500;
      }

      // Jasnoniebieskie tło
      &.liczba,
      &.obsluga,
      &.lq {
        background-color: var(--white);
      }
    }
  }
}

// ::ng-deep {
//   app-length-of-stay {
//     // Headers
//     .grid-header {
//       background-color: var(--dark-blue);
//       color: white;
//     }

//     .grid-header-outer {
//       border-top: var(--standard-border);
//       border-left: var(--standard-border);
//       border-color: var(--border-black);
//       font-size: var(--outer-header-font-size);

//       &.godzina,
//       &.oczekiwane-wizyty,
//       &.opoznienie-ogolem {
//         border-bottom: var(--standard-border);
//         border-color: var(--border-black);
//       }

//       &.opoznienie-ogolem {
//         border-right: var(--standard-border);
//         border-color: var(--border-black);
//       }
//     }

//     .grid-header-mid {
//       font-size: var(--mid-header-font-size);

//       &.liczba,
//       &.wydajnosc {
//         border-bottom: var(--standard-border);
//         border-color: var(--border-black);
//       }

//       &.pielegniarka,
//       &.liczba {
//         border-left: var(--standard-border);
//         border-color: var(--border-black);
//       }
//     }

//     .grid-header-inner {
//       border-bottom: var(--standard-border);
//       border-color: var(--border-black);
//       font-size: var(--inner-header-font-size);

//       &.pielegniarka {
//         &.lq,
//         &.obsluga {
//           border-left: var(--standard-border);
//           border-color: var(--border-black);
//         }
//       }
//     }

//     // Cells
//     .cell {
//       text-align: center;
//       color: var(--light-grey-new);

//       &.godzina,
//       &.liczba,
//       &.kolejka,
//       &.opoznienie-ogolem {
//         font-size: var(--bold-column-font-size);
//         font-weight: bold;
//         color: black;
//       }

//       &.pielegniarka.lq,
//       &.obsluga,
//       &.liczba {
//         border-left: var(--standard-border);
//         border-left-color: var(--light-grey-new);
//       }

//       &.opoznienie-ogolem {
//         border-left: var(--standard-border);
//         border-left-color: var(--border-black);
//         border-right: var(--standard-border);
//         border-right-color: var(--border-black);
//       }
//     }
//   }
// }
