:host {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ag-grid-angular {
  height: var(--grid-height);
  width: var(--grid-width);

  margin-top: var(--grid-ofset);
}

// Customizing Ag Grid theme using predefined variables
.ag-theme-alpine {
  // Fonts
  --ag-font-family: var(--font-family);
  --ag-font-size: var(--font-size);

  // Cell colors
  --ag-background-color: white;
  --ag-odd-row-background-color: white;

  // Borders
  --ag-border-color: var(--dark-blue);
  --ag-row-border-width: 0px;

  // Cell & header padding
  --ag-cell-horizontal-padding: var(--header-horizontal-padding);

  // Resize handles
  --ag-header-column-resize-handle-display: none;
}

::ng-deep {
  app-static-table {
    // Headers
    .grid-header {
      color: white;
      background-color: var(--powder-blue);
      border-top: var(--standard-border);
      border-color: var(--dark-blue) !important;

      &.ograniczenia-przyjec,
      &.wydajnosc {
        border-right: var(--standard-border);
      }
    }

    .grid-header-outer {
      font-size: var(--outer-header-font-size);

      &:not(.proc-pacjentow) {
        border-left: var(--standard-border);
      }
    }

    .grid-header-inner {
      font-size: var(--inner-header-font-size);

      &.triage,
      &.oczekiwanie-lozko {
        border-left: var(--standard-border);
      }
    }

    // Cells
    .cell {
      color: var(--font-color);
      text-align: center;
      border-bottom: var(--standard-border);
      border-bottom-color: #eee;


      &.typ-pacjenta {
        text-align: left;
        color: black;
      }

      // &.typ-pacjenta,
      &.oczekiwanie-lozko,
      &.triage {
        border-left: var(--standard-border);
        border-left-color: var(--dark-blue);
      }

      &.triage,
      &.lekarz,
      &.obserwacja,
      &.wydajnosc {
        background-color: var(--white);
      }

      &.part-of-table {
      }

      &.summary-row {
        &.bottom,
        &.top {
          font-weight: 600;
          font-size: var(--summary-row-font-size-static);
        }

        &.top {
          border-top: var(--standard-border);
          border-top-color: var(--dark-blue);
        }

        &.bottom {
          border-bottom: var(--standard-border);
          border-bottom-color: var(--dark-blue);
        }

        &.waskie-gardlo {
          color: var(--flashy-yellow);
          background-color: var(--flashy-red);
          font-weight: 600;

          &:not(.bottom) {
            border-bottom: var(--standard-border);
            border-bottom-color: var(--flashy-red);
          }
        }
      }
    }

    // Outer grid border
    .ag-root-wrapper {
      border: var(--standard-border);
      border-color: var(--dark-blue);
    }
  }
}
