:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/**
* To let ag grid adjust its heigth to the height of the rows use: domLayout='autoHeight'
* To let ag grid adjust column width to fit the desired grid width use: [autoSizeStrategy]='{type: 'fitGridWidth'}'
* To let ag grid adjust fit its width to the width of fixed size columns you have to calculate grid size manually:
in our case: 220 + 55 + 120 * 5 + 150 * 2 = 1175px ( + ~2px to account for borders)
*/

ag-grid-angular {
  width: 1177px;
  margin-top: var(--grid-ofset);
}

::ng-deep {
  app-static-table {
    // Granatowa granica pionowa
    .zasoby,
    .triage,
    .ograniczenia-przyjec,
    .oczekiwanie-lozko {
      border-left: var(--standard-border);
      border-left-color: var(--dark-blue);
    }

    .ag-row {
      &:nth-of-type(8) {
        .ag-cell {
          // border-bottom: var(--standard-border) !important;
          // border-bottom-color: var(--dark-blue) !important;
        }

        border-bottom: var(--standard-border) !important;
        border-bottom-color: var(--dark-blue) !important;
      }

      &:nth-of-type(9),
      &:last-of-type {
        .ag-cell {
          font-size: 17px;
          font-weight: 600;
        }
      }
    }

    .ag-cell {
      // Jasnoniebieskie tło
      &.triage,
      &.lekarz,
      &.obserwacja,
      &.wydajnosc {
        background-color: var(--white);
      }

      // Pierwsza kolumna
      &.ag-column-first {
        justify-content: flex-start;
        text-align: start;
        color: black;
        font-weight: 500;
      }

      // Wyroznienie - waskie gardlo
      &.waskie-gardlo {
        color: var(--flashy-yellow);
        background-color: var(--flashy-red);
        font-weight: 600;

        &:not(.ag-row:last-of-type *) {
          border-bottom: var(--standard-border) !important;
          border-bottom-color: var(--flashy-red) !important;
        }
      }
    }
  }
}
