:host {
    height: 100%;
    width: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}

.navigation {
    height: 10vh;

    display: flex;    
}

.content {
    flex: 1;
    
    display: flex;

    background-color: var(--grey);
}

.footer {
    height: 8vh;

    display: flex;
}
