<!-- <div class="content">
  <router-outlet></router-outlet>
</div> -->

<app-datepicker (valueChange)="onChange($event)" />

<div class="mat-tabs-container">
  <mat-tab-group [selectedIndex]="selectedTabIndex">
    <mat-tab label="Analiza Statyczna">
      <ng-template mat-tab-label>
        <div class="custom-mat-tab-class">Analiza Statyczna</div>
      </ng-template>

      <app-static-table></app-static-table>
    </mat-tab>

    <mat-tab label="Analiza Godzinowa">
      <ng-template mat-tab-label>
        <div class="custom-mat-tab-class">Analiza Godzinowa</div>
      </ng-template>

      <app-hourly-table></app-hourly-table>
    </mat-tab>

    <mat-tab label="Analiza Czasu Pobytu - LOS">
      <ng-template mat-tab-label>
        <div class="custom-mat-tab-class">Analiza Czasu Pobytu - LOS</div>
      </ng-template>

      <app-length-of-stay></app-length-of-stay>
    </mat-tab>
  </mat-tab-group>
</div>
