<div class="form-container">
  <mat-card>
    <mat-card-header>Formularz pacjenta</mat-card-header>

    <mat-card-content>
      <mat-form-field>
        <mat-label>First name: </mat-label>
        <input
          matInput
          id="name"
          type="text"
          [formControl]="firstName"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Last name: </mat-label>
        <input
          matInput
          id="name"
          type="text"
          [formControl]="lastName"
        />
      </mat-form-field>

      <p>Value: {{ firstName.value }}</p>
      <p>Value: {{ lastName.value }}</p>
    </mat-card-content>
  </mat-card>
</div>

<!-- <div class="form-container">
  <form>
    <label for="fname">First name:</label><br />
    <input
      type="text"
      id="fname"
      name="fname"
    /><br />
    <label for="lname">Last name:</label><br />
    <input
      type="text"
      id="lname"
      name="lname"
    />
    <input
      type="submit"
      value="Submit"
    />
  </form>
</div> -->
