:root {
  --grid-ofset: 30px;
  --grid-height: 75vh;
  --grid-width: 100%;

  /* Color palettes: */

  // App layout
  --white: #f1f6f9;
  --navy: #14274e;
  --faded-blue: #394867;
  --grey: #9ba4b4;
  --background: #dfdfdf;

  // Orange color palette
  --darkest-orange: #e3a598;
  --dark-orange: #d0b8a8;
  --mid-orange: #dfd3c3;
  --light-orange: #f8ede3;
  --lightest-orange: #fbeae0;
  --white-orange: #fdf5eb;

  // Grey color palette
  --darkest-grey: rgb(169, 169, 169);
  --dark-grey: rgb(192, 192, 192);
  --mid-grey: ;
  --light-grey: rgb(211, 211, 211);
  --lightest-grey: rgb(220, 220, 220);
  --white-grey: rgb(208, 208, 208);

  // Red color palette
  --super-dark-red: rgb(146, 26, 64);
  --darkest-red: rgb(199, 91, 122);
  --dark-red: rgb(217, 171, 171);
  --mid-red: rgb(244, 217, 208);
  
  // Green color palette
  --super-dark-green: rgb(97, 130, 100);
  --darkest-green: rgb(121, 172, 120);
  --dark-green: rgb(176, 217, 177);
  --mid-green: rgb(208, 231, 210);

  // Cell color - ODD
  --summary-cell-font-color-odd: rgb(242, 242, 242);

  // Cell color - EVEN
  --summary-cell-font-color-even: rgb(242, 242, 242);

  // Cell color - waskie gardlo
  --waskie-gardlo-background-color: rgb(228, 245, 0);

  // Fonts
  --waskie-gardlo-font-color: rgb(155, 0, 0);
  --waskie-gardlo-font-size: 16px;
  --waskie-gardlo-font-width: bold;
  --editable-cell-font-width: bold;
  --font-size: 15px;
  --font-family: monospace;

  // Borders
  --standard-border: solid 3px black;
}

html,
body {
  margin: 0px;
  height: 100%;

  background-color: var(--background);
}

// Centering grid headers text
.grid-header {
  text-align: center;
  white-space: normal;

  display: flex;
  justify-content: center;
  align-items: center;
}

// Centering grid cell text
.cell {
  text-align: center;
}

.ag-header-cell-label {
  display: flex;
  justify-content: center;
}

// Wrap group column headers' text manually (no auto height)
.grid-header .ag-header-group-text {
  white-space: normal;
}

// Setting header background colors

// Outer headers
.grid-header-outer {
  background-color: var(--darkest-grey);
  font-size: 19px;
}

// Mid headers
.grid-header-mid {
  background-color: var(--dark-grey);
  // font-size: 16px;
}

// Inner-most headers
.grid-header-inner {
  background-color: var(--white-grey);
}
