.ag-overlay-loading-center {
  padding: 20px;
  font-size: 20px;
}

.presentation {
  width: 100px;
  height: 100px;
  background: url(https://www.ag-grid.com/images/ag-grid-loading-spinner.svg) center / contain no-repeat;
  margin: 0 auto;
}
